<html>
  <head>
    {{ content_for_header }}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Boogaloo&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jolly+Lodger&display=swap" rel="stylesheet">
     <link rel="stylesheet" href="{{ "404.css" |  asset_url }}">
     <link rel="stylesheet" href="{{ "header.css" |  asset_url }}">
     <link rel="stylesheet" href="{{ "footer.css" |  asset_url }}">
     <link rel="stylesheet" href="{{ "home.css" |  asset_url }}">
     <link rel="stylesheet" href="{{ "product-page.css" |  asset_url }}">
     <script  src="{{ "app.js" |  asset_url }}" defer></script>
  </head>
  <body>
    
    <main id="main" role="main">
      
      {% section "menu-bar" %}
    {{ content_for_layout }}
    
     <div class="cookies">
        <div class="cookies-title">
          <h1>Cookies Policy</h1>

        </div>
        <p>This website uses cookies to enhance your browsing experience, personalize content, and analyze website traffic. Cookies are small text files stored on your device that help us improve functionality and provide a better user experience. By continuing to use our website, you consent to our use of cookies in accordance with this policy.

        You can manage or disable cookies through your browser settings at any time. However, please note that some features of the site may not function properly without cookies. For more details on how we use cookies and how you can control them, please visit our [Privacy Policy].
        </p>
        <div class="cookies-btn">
          <a class="accept" href="">accept all cookies</a>
        </div>
     </div>
    </main>
    {%  section "footer" %} 
  </body>
</html>
<style>
  *{
  margin: 0px;
  box-sizing: border-box;
  
}


.cookies{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  bottom: 0;
  z-index: 20000000;
  background-color: #fff6e7;
  gap: 10px;
  opacity: 0.9;
  border-radius: 20px 20px 0px 0px ;
}


.cookies-title{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin-left: 20px;
  margin-top: 10px;

}
.cookies-title h1{
  margin-left: 20px;
  color: #FF4C01;
  font-size: 35px;
}
.cookies p{
  
  max-width: 80%;
}


.cookies-btn{
  width: 90%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}
.cookies-btn a{
  text-decoration: none;
  background-color: #FF4C01;
  color: #eee6e6;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 20px;
}
.cookiesme{
 visibility: hidden;
}

</style>

<script>
  const acc = document.querySelector(".accept")
const cookies = document.querySelector(".cookies")

if (localStorage.getItem("hello") === "true") {
  
   cookies.classList.add("cookiesme")
  
}


acc.addEventListener("click", (e) => {
  e.preventDefault()
  cookies.classList.add("cookiesme")
  localStorage.setItem("hello", "true");
})
</script>