

<div class="hero">
  <img class="img1" src="{{  "strawberry.png" |  asset_url}}" alt="">
  <img class="img2" src="{{  "strawberry.png" |  asset_url}}" alt="">
  <img class="img3" src="{{  "strawberry.png" |  asset_url}}" alt="">
  <img class="img4" src="{{  "strawberry.png" |  asset_url}}" alt="">
  <img class="img5" src="{{  "strawberry.png" |  asset_url}}" alt="">
  <img class="img6" src="{{  "strawberry.png" |  asset_url}}" alt="">
  {%  render 'header' %} 
  <div class="hero-content">
    <h1>The better <br> <span>Protein</span> </h1>
    <img class="whey" src="{{ "pro-strawbbery.png" |  asset_url}}" alt="">
    
    <a href="{{ routes.all_products_collection_url }}">SHOP NOW</a>
  </div>
</div>

<div class="break">
  <div class="wrapper">
    <h1 class="iteme item1">
      LOW CARBS *
    </h1>

    <h1 class="iteme item2">
      LOW SUGAR *
    </h1>

    <h1 class="iteme item3">
      HIGH PROTEIN *
    </h1>

    <h1 class="iteme item4">
      LOW SUGAR *
    </h1>

    <h1 class="iteme item5">
      LOW CARBS *
    </h1>

    <h1 class="iteme item6">
      LOW SUGAR *
    </h1>

    <h1 class="iteme item7">
      HIGH PROTEIN *
    </h1>

    <h1 class="iteme item8">
      LOW CARBS *
    </h1>

  
  
  </div>



</div>

<div class="our-pro">
  <img class="imga" src="{{  "vanilla.png" |  asset_url}}" alt="">
  <img class="imgb" src="{{  "vanilla.png" |  asset_url}}" alt="">
  <img class="imgc" src="{{  "vanilla.png" |  asset_url}}" alt="">
  <img class="imgd" src="{{  "vanilla.png" |  asset_url}}" alt="">
  <img class="imge" src="{{  "vanilla.png" |  asset_url}}" alt="">
  <img class="imgf" src="{{  "vanilla.png" |  asset_url}}" alt="">

   <h1 class="h1">THE FUTURE OF OUR PRODUCTS</h1>
   <div class="bar">
    <div><h1>LOW CARBS</h1></div>
    <div class="pro"><h1>HIGH PROTEIN</h1></div>
    <div><h1>LOW SUGAR</h1></div>
   </div>
   <h2>Strong are keto friendly, seed oil free, and artificial sweetener free.</h2>
   <a href="{{ routes.all_products_collection_url }}">SHOP NOW</a>
</div>

<div class="break">
  <div class="wrapper">
    <h1 style="color: #D4A8FF;" class="iteme item1">
      LOW CARBS *
    </h1>

    <h1 style="color: #D4A8FF;" class="iteme item2">
      LOW SUGAR *
    </h1>

    <h1 style="color: #D4A8FF;"class="iteme item3">
      HIGH PROTEIN *
    </h1>

    <h1 style="color: #D4A8FF;" class="iteme item4">
      LOW SUGAR *
    </h1>

    <h1 style="color: #D4A8FF;" class="iteme item5">
      LOW CARBS *
    </h1>

    <h1 style="color: #D4A8FF;" class="iteme item6">
      LOW SUGAR *
    </h1>

    <h1 style="color: #D4A8FF;" class="iteme item7">
      HIGH PROTEIN *
    </h1>

    <h1 style="color: #D4A8FF;" class="iteme item8">
      LOW CARBS *
    </h1>

  
  
  </div>



</div>


<div class="shop">

  <img class="img-A" src="{{  "straw.png" |  asset_url}}" alt="">
  <img class="img-B" src="{{  "orio.png" |  asset_url}}" alt="">
  <img class="img-C" src="{{  "caramel.png" |  asset_url}}" alt="">
  <img class="img-D" src="{{  "choco.png" |  asset_url}}" alt="">
  <img class="img-E" src="{{  "orio.png" |  asset_url}}" alt="">
  <img class="img-F" src="{{  "caramel.png" |  asset_url}}" alt="">

  <h1>OUR PROTEIN COLLECTION</h1>
  <div class="pro-collection">
    <a class="iso" href="/products/caramelized-biscuits">
      <div class="iso-imgs">
      <img class="iso-img"   src="{{ "pro-caramel.png" |  asset_url }}" alt="">
       <img class="caramel"  src="{{ "caramel.png" |  asset_url }}" alt="">
       </div>
       <h2>CARAMELIZED BISCUITS <span>WHEY PROTEIN</span></h2>
    </a>
    <a class="wheys" href="/products/strawberry-tart">
      <div class="wheys-imgs">
        <img class="wheys-img" src="{{ "pro-strawbbery.png" |  asset_url }}" alt="">
        <img class="straw" src="{{ "straw.png" |  asset_url }}" alt="">
      </div>
      
      <h2>STRAWBERRY TART <span>WHEY PROTEIN</span></h2>
    </a>
    <a class="mass" href="/products/chocolate-spread">
      <div class="mass-imgs">
        <img class="choco"  src="{{ "choco.png" |  asset_url }}" alt="">
        <img class="mass-img"  src="{{ "pro-Chocolate.png" |  asset_url }}" alt="">
      </div>
      
      <h2>CHOCOLATE SPREAD <span>WHEY PROTEIN</span></h2>
    </a>

    <a class="orios" href="/products/evolve®-whey-ice-cream-cookie">
      <div class="orio-imgs">
        <img class="orio"  src="{{ "orio.png" |  asset_url }}" alt="">
        <img class="orio-img"  src="{{ "pro-orio.png" |  asset_url }}" alt="">
      </div>
      
      <h2>CREAM COOKIE <span>WHEY PROTEIN</span></h2>
    </a>

  </div>
  <a class="shop-all" href="{{ routes.all_products_collection_url }}">SHOPE ALL</a>
</div> 


<div class="break">
  <div  class="wrapper">
    <h1 style="color: #E53935;" class="iteme item1">
      LOW CARBS *
    </h1>

    <h1 style="color: #E53935;" class="iteme item2">
      LOW SUGAR *
    </h1>

    <h1 style="color: #E53935;"class="iteme item3">
      HIGH PROTEIN *
    </h1>

    <h1 style="color: #E53935;" class="iteme item4">
      LOW SUGAR *
    </h1>

    <h1 style="color: #E53935;" class="iteme item5">
      LOW CARBS *
    </h1>

    <h1 style="color: #E53935;" class="iteme item6">
      LOW SUGAR *
    </h1>

    <h1 style="color: #E53935;" class="iteme item7">
      HIGH PROTEIN *
    </h1>

    <h1 style="color: #E53935;" class="iteme item8">
      LOW CARBS *
    </h1>

  
  
  </div>



</div>


<div class="strong-media">

  <h1>FOLLOW US</h1>
  <div class="media-links">
    <a href="">TIKTOK</a>
    <a href="">INSTAGRAM</a> 
  </div>

   <div class="strong-imgs">
    <img src="{{ "media-1.jpg" |  asset_url }}" alt="">
    <img src="{{ "media-3.jpg" | asset_url }}" alt="">
    <img src="{{ "media-2.jpg" | asset_url }}" alt="">
  </div>



</div>


<div class="f-me">
  {% render "faq" %}
</div>

