

<div class="hero">
  <img class="img1" src="{{  "strawberry.png" |  asset_url}}" alt="">
  <img class="img2" src="{{  "strawberry.png" |  asset_url}}" alt="">
  <img class="img3" src="{{  "strawberry.png" |  asset_url}}" alt="">
  <img class="img4" src="{{  "strawberry.png" |  asset_url}}" alt="">
  <img class="img5" src="{{  "strawberry.png" |  asset_url}}" alt="">
  <img class="img6" src="{{  "strawberry.png" |  asset_url}}" alt="">
  {%  render 'header' %} 
  <div class="hero-content">
    <h1>The better <br> <span>Protein</span> </h1>
    <img class="whey" src="{{ "pro-strawbbery.png" |  asset_url}}" alt="">
    
    <a href="{{ routes.all_products_collection_url }}">SHOP NOW</a>
  </div>
</div>

<div class="break">
  <div class="wrapper">
    <h1 class="iteme item1">
      LOW CARBS *
    </h1>

    <h1 class="iteme item2">
      LOW SUGAR *
    </h1>

    <h1 class="iteme item3">
      HIGH PROTEIN *
    </h1>

    <h1 class="iteme item4">
      LOW SUGAR *
    </h1>

    <h1 class="iteme item5">
      LOW CARBS *
    </h1>

    <h1 class="iteme item6">
      LOW SUGAR *
    </h1>

    <h1 class="iteme item7">
      HIGH PROTEIN *
    </h1>

    <h1 class="iteme item8">
      LOW CARBS *
    </h1>

  
  
  </div>



</div>

<div class="our-pro">
  <img class="imga" src="{{  "vanilla.png" |  asset_url}}" alt="">
  <img class="imgb" src="{{  "vanilla.png" |  asset_url}}" alt="">
  <img class="imgc" src="{{  "vanilla.png" |  asset_url}}" alt="">
  <img class="imgd" src="{{  "vanilla.png" |  asset_url}}" alt="">
  <img class="imge" src="{{  "vanilla.png" |  asset_url}}" alt="">
  <img class="imgf" src="{{  "vanilla.png" |  asset_url}}" alt="">

   <h1 class="h1">THE FUTURE OF OUR PRODUCTS</h1>
   <div class="bar">
    <div class="low-carbs">
      <h1>LOW CARBS</h1>
      <p>hello i am hamdi ben bechir i am a 20y kid who try to create the best e exipence for customers</p>
      
      </div>
    <div class="pro">
      <h1>HIGH PROTEIN</h1>
      <p>hello i am hamdi ben bechir i am a 20y kid who try to create the best e exipence for customers</p>
      </div>
    <div class="low-sugar">
      <h1>LOW SUGAR</h1>
      <p>hello i am hamdi ben bechir i am a 20y kid who try to create the best e exipence for customers</p>
      </div>
   </div>
   <h2>Strong are keto friendly, seed oil free, and artificial sweetener free.</h2>
   <a href="{{ routes.all_products_collection_url }}">SHOP NOW</a>
</div>

<div class="break">
  <div class="wrapper">
    <h1 style="color: #D4A8FF;" class="iteme item1">
      LOW CARBS *
    </h1>

    <h1 style="color: #D4A8FF;" class="iteme item2">
      LOW SUGAR *
    </h1>

    <h1 style="color: #D4A8FF;"class="iteme item3">
      HIGH PROTEIN *
    </h1>

    <h1 style="color: #D4A8FF;" class="iteme item4">
      LOW SUGAR *
    </h1>

    <h1 style="color: #D4A8FF;" class="iteme item5">
      LOW CARBS *
    </h1>

    <h1 style="color: #D4A8FF;" class="iteme item6">
      LOW SUGAR *
    </h1>

    <h1 style="color: #D4A8FF;" class="iteme item7">
      HIGH PROTEIN *
    </h1>

    <h1 style="color: #D4A8FF;" class="iteme item8">
      LOW CARBS *
    </h1>

  
  
  </div>



</div>


<div class="shop">

  <img class="img-A" src="{{  "straw.png" |  asset_url}}" alt="">
  <img class="img-B" src="{{  "orio.png" |  asset_url}}" alt="">
  <img class="img-C" src="{{  "caramel.png" |  asset_url}}" alt="">
  <img class="img-D" src="{{  "choco.png" |  asset_url}}" alt="">
  <img class="img-E" src="{{  "orio.png" |  asset_url}}" alt="">
  <img class="img-F" src="{{  "caramel.png" |  asset_url}}" alt="">

  <h1>OUR PROTEIN COLLECTION</h1>
  <div class="pro-collection">
    <a class="iso" href="/products/caramelized-biscuits">
      <div class="iso-imgs">
      <img class="iso-img"   src="{{ "pro-caramel.png" |  asset_url }}" alt="">
       <img class="caramel"  src="{{ "caramel.png" |  asset_url }}" alt="">
       </div>
       <h2>CARAMELIZED BISCUITS <span>WHEY PROTEIN</span></h2>
    </a>
    <a class="wheys" href="/products/strawberry-tart">
      <div class="wheys-imgs">
        <img class="wheys-img" src="{{ "pro-strawbbery.png" |  asset_url }}" alt="">
        <img class="straw" src="{{ "straw.png" |  asset_url }}" alt="">
      </div>
      
      <h2>STRAWBERRY TART <span>WHEY PROTEIN</span></h2>
    </a>
    <a class="mass" href="/products/chocolate-spread">
      <div class="mass-imgs">
        <img class="choco"  src="{{ "choco.png" |  asset_url }}" alt="">
        <img class="mass-img"  src="{{ "pro-Chocolate.png" |  asset_url }}" alt="">
      </div>
      
      <h2>CHOCOLATE SPREAD <span>WHEY PROTEIN</span></h2>
    </a>

    <a class="orios" href="/products/evolve®-whey-ice-cream-cookie">
      <div class="orio-imgs">
        <img class="orio"  src="{{ "orio.png" |  asset_url }}" alt="">
        <img class="orio-img"  src="{{ "pro-orio.png" |  asset_url }}" alt="">
      </div>
      
      <h2>CREAM COOKIE <span>WHEY PROTEIN</span></h2>
    </a>

  </div>
  <a class="shop-all" href="{{ routes.all_products_collection_url }}">SHOPE ALL</a>
</div> 


{% comment %} <div class="break">
  <div  class="wrapper">
    <h1 style="color: #E53935;" class="iteme item1">
      LOW CARBS *
    </h1>

    <h1 style="color: #E53935;" class="iteme item2">
      LOW SUGAR *
    </h1>

    <h1 style="color: #E53935;"class="iteme item3">
      HIGH PROTEIN *
    </h1>

    <h1 style="color: #E53935;" class="iteme item4">
      LOW SUGAR *
    </h1>

    <h1 style="color: #E53935;" class="iteme item5">
      LOW CARBS *
    </h1>

    <h1 style="color: #E53935;" class="iteme item6">
      LOW SUGAR *
    </h1>

    <h1 style="color: #E53935;" class="iteme item7">
      HIGH PROTEIN *
    </h1>

    <h1 style="color: #E53935;" class="iteme item8">
      LOW CARBS *
    </h1>

  
  
  </div>



</div> {% endcomment %}
<div  class="third">
<svg class="saw-border" viewBox="0 0 1440 70" fill="none" xmlns="http://www.w3.org/2000/svg">
  <g filter="url(#filter0_d_981_34172)">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M1320 59.6174L1380 18L1440 59.6174V130V130.41V225H0V130.41V130V59.6174L59.9997 18L119.999 59.6174L179.999 18L239.999 59.6174L299.999 18L359.998 59.6174L420.001 18L480.001 59.6174L540.001 18L600.001 59.6174L660 18L720 59.6174L780 18L839.999 59.6174L899.999 18L959.999 59.6174L1020 18L1080 59.6174L1140 18L1200 59.6174L1260 18L1320 59.6174Z" fill="#FF4C01"></path>
  </g>
  <defs>
    <filter id="filter0_d_981_34172" x="-14" y="0" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
      <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
      <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"></feColorMatrix>
      <feOffset dy="-4"></feOffset>
      <feGaussianBlur stdDeviation="7"></feGaussianBlur>
      <feComposite in2="hardAlpha" operator="out"></feComposite>
      <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.15 0"></feColorMatrix>
      <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_981_34172"></feBlend>
      <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_981_34172" result="shape"></feBlend>
    </filter>
  </defs>
</svg>
</div>



<div class="strong-media">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="...">
  <path d="..." fill="#FF4C01"/>
</svg>


  <h1>FOLLOW US</h1>
  <div class="media-links">
    <a href="">TIKTOK</a>
    <a href="">INSTAGRAM</a> 
  </div>

   <div class="strong-imgs">
    <img src="{{ "media-1.jpg" |  asset_url }}" alt="">
    <img src="{{ "media-3.jpg" | asset_url }}" alt="">
    <img src="{{ "media-2.jpg" | asset_url }}" alt="">
  </div>



</div>
<div style="background-color: #FF4C01;">
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1440 114.1" style="enable-background:new 0 0 1440 114.1;" xml:space="preserve">
  <style type="text/css">
    .border-semi-circles { fill: #fff; }
  </style>
  <path class="border-semi-circles" d="M1380.3,6c-33,0-59.7,26.7-59.7,59.7h0C1320.1,32.7,1293.2,6,1260,6c-33.2,0-60.1,26.7-60.6,59.7h0
    c0-33-26.7-59.7-59.7-59.7c-33,0-59.7,26.7-59.7,59.7c0-33-26.7-59.7-59.7-59.7c-33,0-59.7,26.7-59.7,59.7h0
    C960.1,32.7,933.2,6,900,6c-33.2,0-60.1,26.7-60.6,59.7h0c0-33-26.7-59.7-59.7-59.7c-33,0-59.7,26.7-59.7,59.7h0
    c0-33-26.7-59.7-59.7-59.7s-59.7,26.7-59.7,59.7h0C600.1,32.7,573.2,6,540,6c-33.2,0-60.1,26.7-60.6,59.7h0
    c0-33-26.7-59.7-59.7-59.7c-33,0-59.7,26.7-59.7,59.7h0c0-33-26.7-59.7-59.7-59.7s-59.7,26.7-59.7,59.7h0C240.1,32.7,213.2,6,180,6
    c-33.2,0-60.1,26.7-60.6,59.7h0c0-33-26.7-59.7-59.7-59.7S0,32.7,0,65.7v48.4h240.6H360h0h240.6H720h0h240.6H1080h240.6H1440V65.7
    C1440,32.7,1413.3,6,1380.3,6z"/>
</svg>

</div>
<div class="shop-by-flavor">
  <h1>shop by flavors</h1>
  <div class="our-flavors">
        <a  href="/products/chocolate-spread">
          <img src="{{ "choco.png"  |  asset_url }}" alt="">
        </a>
       <a href="/products/dates-milk">
        <img src="{{ "dates.png"  |  asset_url }}" alt="">
       </a>
      
        <a  href="/products/evolve®-whey-ice-cream-cookie">
        <img src="{{ "orio.png"  |  asset_url }}" alt="">
       </a>
         <a    href="/products/strawberry-tart">
        <img src="{{ "straw.png"  |  asset_url }}" alt="">
       </a>
          <a   href="/products/whey-sobia">
        <img src="{{ "sobia.png"  |  asset_url }}" alt="">
       </a>
        <a href="/products/caramelized-biscuits">
        <img src="{{ "caramel.png"  |  asset_url }}" alt="">
       </a>
  </div>
  <a style="margin-top: 20px; margin-bottom:20px;" class="shop-all" href="{{ routes.all_products_collection_url }}">shop all</a>
</div>

<div class="shap-faq">
<svg class="wave-border-colored" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1440 90" style="enable-background:new 0 0 1440 90;" xml:space="preserve">
  <style type="text/css">
    .wave-border { fill: #FFF6E7; }
  </style>
  <path class="wave-border" d="M1367,14.7C1353.2,5.1,1336.8,0,1320,0c-16.8,0-33.2,5.1-47.1,14.7l-25.9,18c-13.8,9.6-30.2,14.7-47.1,14.7
    c-16.8,0-33.2-5.1-47.1-14.7l-25.9-18C1113.2,5.1,1096.8,0,1080,0c-16.8,0-33.2,5.1-47,14.7l-25.9,18c-13.8,9.6-30.2,14.7-47,14.7
    c-16.8,0-33.2-5.1-47-14.7l-25.9-18C873.2,5.1,856.8,0,840,0c-16.8,0-33.2,5.1-47,14.7l-25.9,18c-13.8,9.6-30.2,14.7-47,14.7
    s-33.2-5.1-47-14.7l-25.9-18C633.2,5.1,616.8,0,600,0c-16.8,0-33.2,5.1-47,14.7l-25.9,18c-13.8,9.6-30.2,14.7-47,14.7
    c-16.8,0-33.2-5.1-47-14.7l-25.9-18C393.2,5.1,376.8,0,360,0s-33.2,5.1-47,14.7l-25.9,18c-13.8,9.6-30.2,14.7-47,14.7
    c-16.8,0-33.2-5.1-47-14.7l-25.9-18C153.2,5.1,136.8,0,120,0c-16.8,0-33.2,5.1-47,14.7L0,65.3V90h1440V65.3L1367,14.7z"/>
</svg>
</div>



<div class="f-me">
  {% render "faq" %}
</div>

